In [1]:
import os
import sys
from pathlib import Path
# Setting the working directory to the root of the project
project_dir = Path("C:/Users/adbou/source/repos/KFHXRelatedAi/")
os.chdir(project_dir)

from Configs.GeneralPaths import SOURCEDATA
import pandas as pd

In [3]:
#loading the csv into pandas df

sheet_name = "Data"

transactions_path = SOURCEDATA / "All-Redemptions.xlsx"

trxs = pd.read_excel(transactions_path , sheet_name= sheet_name)

In [4]:
trxs.head()

,TrxId,TrxDate,FK_BusinessUserId,Reference,EntityId,PointsRewarded,PointsRedeemed,FK_StatusId,EntityName,FK_TenantId,TransactionType,FK_ContentId,CouponStatus,EntityCategory
0,12429817,2023-06-04 11:46:06.050,976480,Deal Redemption,1798,NaN,1000,9,Alkhalid Clinic,2,redeem,113923.0,103.0,Health & Beauty
1,12429824,2023-06-04 11:58:56.140,976480,Transfer Points,1454,NaN,1000,9,Tam Rewards,2,redeem,NaN,NaN,NaN
2,12525687,2023-06-07 14:08:10.287,976480,Deal Redemption,1638,NaN,10000,9,H&S Store,2,redeem,113853.0,103.0,Electronics
3,12525666,2023-06-08 11:03:32.043,976480,Deal Redemption,1638,NaN,10000,9,H&S Store,2,redeem,113853.0,106.0,Electronics
4,12820067,2023-06-21 08:08:20.800,976677,Create Voucher,1525,NaN,1000,9,Al Oula petrol station,2,redeem,NaN,104.0,NaN